
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: 46px;
    background-color: #f1f1f2;
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
    font-family:var(--font-family);

        background-color: transparent;
        caret-color: var(--primary-color);

        &::placeholder {
            color: #767676;
        }
    }

    .clear,
    .loading {
        position: absolute;
        right: calc(52px + 16px);
        top: 50%;
        transform: translateY(-50%);
        color: #a7a7ab;
        padding-right: 8px;
    }

    .loading {
        animation: spinner 0.3s linear infinite;
    }
    @keyframes spinner{
        from {
            transform:translateY(-50%) rotate(0deg);
        }
        to {
            transform:translateY(-50%) rotate(360deg);

        }
    }

    .separate {
        height: 28px;
        width: 1px;
        background-color: #d7d7d9;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .search-btn {
        width: 52px;
        height: 100%;
        cursor: pointer;
        color: #a7a7ab;
        font-size: 1.8rem;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
        &:active {
            background: rgb(223, 223, 223);
        }
    }
    &:focus-within {
        border-color: #b6b6b6;
    }
}