.wrapper {
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.btn {
    height: 34px;
}

.body {
}

.nickname {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.check {
    color: var(--blue);
    margin-left: 6px;
    font-size: 1.4rem;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

.analytics {
    margin-top: 8px;
    font-size: 17px;

}

.label {
    margin:0 12px 0 6px;
}
