.wrapper {
    width: 356px;
    height: 100vh;
    padding: 26px 0px 80px 14px;
    overflow-y: overlay;
    position: fixed;
    top: 60px;
    left: calc((100vw - 1150px) / 2);
}

.wrapper::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
}
